html, body, #grid-container, #header {
  /* height: 100%; */
  margin: 0;
  font-family: sans-serif;
}

#grid-container {
  display: grid;
  grid-template-columns: 350px repeat(2, 1fr);
  grid-template-rows: 80px 40px repeat(3, 1fr);
  grid-row-gap: 1px;
  grid-column-gap: 1px;
}

.grid-item {
  background-color: #121212;
}

#header {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 4;
  text-align: center;
  color: #ffffffee; /*ffffffee*/
  font-size: 55px;
  font-family: 'Georama', sans-serif;
  font-weight: 400;
  background-color: #1DB954 /* #808080 1DB954*/
}

#header p {
  display: inline
}

.sub-header{
  font-size: 28px;
  font-family: 'Georama', sans-serif;
  font-weight: 600;
  text-align: center;
  color: #121212;/*#121212;*/
  background-color: lightgray /*lightgray;*/
}

#sub-header-2010s {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 4;
  font-size: 28px;
}

#chart5 {
  grid-row-start: 3;
  grid-row-end: 6;
  grid-column-start: 3;
  grid-column-end: 4;
  position: relative;
}

#radio-buttons {
  position: absolute;
  z-index: 2;
  right: 0;
  top: 0
}

#radial-chart {
  grid-row-start: 4;
  grid-row-end: 6;
  grid-column-start: 2;
  grid-column-end: 3;
  font-size: 13px;
  margin-top: -1px;
  margin-right: 0px;
  color: ##ffffffcc;
}

.annotation text { /* edit style of annotations here */
  fill: #ffffffdd;
  font-size: 15px;
  font-family: monospace;
}

.annotation-note-title {
  font-weight: bold;
}

.annotation path {
  stroke: rgba(0,0,0,0); /* removes the line on top of the annotation */
  fill: none;
}

#chart4 {
  color: #ffffffcc;
  display: grid;
  /*grid-template-columns: 1fr 1fr 2fr 2fr; */
  grid-template-rows: 1fr 3fr;
  margin-right: 0px
}

#nested-grid-header{
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  font-size: 30px;
  text-align: center;
}

#nested-grid-header p {
  display: inline
}

.nested-grid-item{
  text-align: center;
}
